*{
   
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
}


.logo-container{
    height: 100%;
    display: table;
    float: left;
}
.logo-container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation li{
    height: 100%;
    display: table-cell;
    float: left;
    padding-left: 0px 20px;
    padding-right: 3rem;
    padding-top: 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
.log-in{
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: green;
    border-style: none;
    padding: 0.7rem
    
    
}
.navigation button:last-child{
    align-items: center;
}

#button1{
    height: 2rem;
    width: 6rem;
    background-color: green;
    border-style: none;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    align-self: center;
}

.html{
    color: white;
    font-size: 90px;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 700;
    padding-top: 5rem;
    padding-left: 32rem;
    
}
.second{
    color: white;
    font-size: 18px;
    padding-left: 31rem;
    padding-top: 2rem;
    font-weight: bolder;
}
#button-1{
    height: 2.5rem;
    width: 10rem;
    background-color: green;
    border-style: none;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    margin-left: 35rem;
    margin-top: 2rem;
}
#button-2{
    height: 2.5rem;
    width: 10rem;
    background-color: #FFF4A3 ;
    border-style: none;
    color:black;
    font-weight: bolder;
    border-radius: 20px;
    margin-left: 35rem;
    margin-top: 1rem;
}
#button-3{
    height: 2.5rem;
    width: 10rem;
    background-color:white;
    border-style: none;
    color:black;
    font-weight: bolder;
    border-radius: 20px;
    margin-left: 35rem;
    margin-top: 1rem;
}


.flex-container{
    background-color:black;
    display: flex;
    justify-content: left;
    height: 35rem;
}

.container1{
   width: 60%;
}
.container2{
    width: 40%;
     float: right;
     justify-content: center;
     padding-top: 5rem;
     padding-right: 10rem;
     
 }
 .container3{
    border-radius: 5px;
     align-content: center;
     background-color:silver;
     width: 35rem;
     height: 22rem;
     padding-left: 2rem;
     padding-top: 2rem;
     padding-bottom: 1rem;
 }
 .container4{
     background-color: white;
     color: black;
     width: 34rem;
     height: 17rem;
     border-radius: 5px;
     
    
 }
 #try{
    height: 2.5rem;
    width: 10rem;
    background-color: green;
    border-style: none;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
     margin-top: 0.5rem;
 }
 .headd{
     font-weight: 900;
     font-size: 20px;
     
 }