*{
   
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    
}


.logo-container{
    height: 100%;
    display: table;
    float: left;
}
.logo-container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation li{
    height: 100%;
    display: table-cell;
    float: left;
    padding-left: 0px 20px;
    padding-right: 3rem;
    padding-top: 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
.log-in{
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: green;
    border-style: none;
    padding: 0.7rem
    
    
}
.navigation button:last-child{
    align-items: center;
}

#button1{
    height: 2rem;
    width: 6rem;
    background-color: green;
    border-style: none;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    align-self: center;
}
